
<div class="foot">
        <div class="foot-up">isquare welcomes you<button mat-raised-button>CLICK HERE</button></div>
            <div class="foot-center">           
                <div class="foot-center-1"><span>Quick Links</span>
                    <ul>
                        <li><a href="#"><mat-icon>chevron_right</mat-icon>Company</a></li>
                            <li><a href="#"><mat-icon>chevron_right</mat-icon>About us</a></li>
                                <li><a href="#"><mat-icon>chevron_right</mat-icon>Portfolio</a></li>
                                    <li><a href="#"><mat-icon>chevron_right</mat-icon>Case study</a></li>
                                        <li><a href="#"><mat-icon>chevron_right</mat-icon>Contacts</a></li>
                    </ul>
                </div>
                <div class="foot-center-2">
                    <ul>
                        <li><a href="#"><mat-icon>chevron_right</mat-icon>Services</a></li>
                            <li><a href="#"><mat-icon>chevron_right</mat-icon>Technology</a></li>
                                <li><a href="#"><mat-icon>chevron_right</mat-icon>Career</a></li>
                                    <li><a href="#"><mat-icon>chevron_right</mat-icon>Blog</a></li>
                    </ul>
                </div>
                <div class="foot-center-3"><span>Contact US</span>
                    <ul>
                        <li><a href="#"><mat-icon>mail_outline</mat-icon>info@isquarebs.com</a></li>
                            <li><a href="#"><mat-icon>settings_phone</mat-icon>Tel : (+91) 0452-4240094</a></li>
                                <li><a href="#"><mat-icon> mobile_screen_share</mat-icon>Mob : (+91) 850-888-4444</a></li>                                    
                    </ul>
                </div>
            </div>    
            <!-- <div class="foot-center-down"> 
                <div class="foot-center-down-1"><span>Follow Us On:</span>
                    <ul>
                        <li><a href="#"><img src="assets/img/facebook.png"></a></li>
                            <li><a href="#"><img src="assets/img/whatsapp.jpg"></a></li>
                                <li><a href="#"><img src="assets/img/twitter.png"></a></li>
                                    <li><a href="#"><img src="assets/img/linkedin.png"></a></li>
                                        <li><a href="#"></a></li>
                    </ul>
                </div> 
            </div>  -->                                
            <div class="foot-down">copy right &copy; 2021 All rights reserved</div>
</div>



