<html>
  <head>
    <title>layout</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <!-- header section -->
    <div class="header">
      <div class="header-top">
        <div class="logo">Logo</div>
        <div class="mobile">Mobile number,and E-mail id</div>
      </div>
      <div class="header-down-menu">Menu Bar</div>
    </div>
    <!-- first-box content -->
    <div class="content">
      <div class="first-box">
        <div class="image">Images</div>
        <div class="paragraph">
          <pre>
Paragraph
   &
Heading
          </pre>
        </div>
        <div class="links">Links</div>
      </div>
      <!-- second-box content -->
      <div class="second-box">
        <div class="lin">Links</div>
        <div class="link-list">Link List</div>
      </div>
      <!-- third-box content -->
      <div class="third-box">
        <div class="image-3">Images</div>
        <div class="list">List</div>
        <div class="heading">
          <pre>
Paragraph
   &
Heading
        </pre>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <div class="footer">copyright &#169; babugraphics.com</div>
  </body>
</html>
