<!-- <div class="header">
    <div class="head-top">
        <img src="assets/img/amazon.png" alt="">
        <div class="hello">
            <span>hello</span>
           <p> <mat-icon> place</mat-icon>select your address</p>
        </div>
    </div>
</div> -->
<h1>HOME PAGE</h1>
<div class="outer-box1">
  <div class="outer-box">
    <div class="product">
      <img src="assets/img/product.png" alt="" />
      <a [routerLink]="['product']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">product page</button></a
      >
    </div>
    <div class="billing-screen">
      <img src="assets/img/billingscreen.jpg" alt="" />
      <a [routerLink]="['billing-page']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">billing page</button></a
      >
    </div>
    <div class="billing-list">
      <img src="assets/img/list.png" alt="" />
      <a [routerLink]="['billing-list']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">list page</button></a
      >
    </div>
    
  </div>
  <div class="bottom-box">                   
    <label>Last Bill</label>
    <input type="number" disabled> <br> <br> 
    <label>Amount</label>
    <input type="number" disabled>
  </div>
</div>
