
    
    <mat-toolbar>
      <button mat-raised-button style="">
        <mat-icon color="warn" >menu</mat-icon>
      </button>

     
      <img src="assets/img/deal.png">
      <span class="example-spacer"></span>

      <input class="inp" type="text" placeholder="Search products & brands">
      <div  class="input"> search
       <mat-icon>youtube_searched_for</mat-icon>
      </div>

       <span class="example-spacer"></span> 

      <button mat-button class="card"> <span>card</span>
        <mat-icon class="mar">add_shopping_cart</mat-icon>
      </button>

      <button mat-button class="card"> <span>sign in</span>
        <mat-icon class="mar">account_circle</mat-icon>
      </button>

    </mat-toolbar>
  