<!-- <div class="outer-box">
    <div class="product">
      <img src="assets/img/product.png" alt="" />
      <a [routerLink]="['product']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">product page</button></a
      >
    </div>
    <div class="billing-list">
      <img src="assets/img/list.png" alt="" />
      <a [routerLink]="['billing-page']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">billing page</button></a>
    </div>
    <div class="billing-screen">
      <img src="assets/img/billingscreen.jpg" alt="" />
      <a [routerLink]="['billing-list']" routerLinkActive="router-link-active">
        <button mat-raised-button color="primary">billing list</button></a>
    </div>
  </div> -->
  <router-outlet></router-outlet>
  