<!-- <input type="text"  -->

<mat-form-field class="example-full-width">
  <mat-label>price tot</mat-label>
  <input [ngModel]="this.add" matInput />
</mat-form-field>
<button (click)="sum()" mat-stroked-button color="primary">sum</button>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
    </tr>
  
    
    <tr [ngModel]="this.row">
      <td>
        <mat-form-field appearance="fill">
        <label>Favorite food name</label> 
        <mat-select>
          <mat-option *ngFor="let k of list" [value]="k.value">
            {{ k.n }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </td>
      <td><input type="text" [(ngModel)]="price" ></td>
      <td><input type="text" [(ngModel)]="qty" ></td>
      <td><input type="text" value="{{ qty * price }}" /></td>
    </tr>
  </table>
</div>
<button (click)="addd()" mat-stroked-button color="primary">addrow</button>

<!-- <table>
    <tr>
      <th>name</th>
      <th>price</th>
    </tr>
    <tr *ngFor="let i of list">
      <td>{{i.n}}</td>
      <th>{{i.p}}</th>     
    </tr>
  </table> -->
