<!-- <input type="text"  -->

<h1>ADD BILLING PAGE</h1>
<div class="outer-box">
  <div class="bill">
    <label> Bill No: </label
    ><input type="number" class="bill-input" value="{{ billnumber }}" disabled />
    <input
    type="date" class="date"
    [ngModel]="date | date: 'yyyy-MM-dd'"
  />
  </div>
  <div class="table">
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Action</th>
      </tr>

      <ng-container>
        <tr *ngFor="let bill of billarray">
          <td>
            <select>
              <option *ngFor="let billrow of billarray">
                {{ billrow.name }}
              </option>
            </select>
          </td>
          <td>
            <input type="number"  [(ngModel)]="bill.pric" />
          </td>
          <td>
            <input type="number" [(ngModel)]="bill.quantity" /></td>
          <td>
            <input
              type="number"
              disabled
              value="{{ bill.pric * bill.quantity }}"
            />
          </td>
          <td>
            <button
              (click)="removebill(bill)"
              mat-stroked-button
              color="primary"
            >
              del
            </button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <button (click)="addd()" mat-stroked-button color="primary">addrow</button>
  <mat-form-field class="example-full-width" >
    <!-- <mat-label>total</mat-label> -->
    <input value="{{ tot()}}"  matInput disabled />
  </mat-form-field>
  <!-- <button (click)="sum()" mat-stroked-button color="primary" class="btn">
    sum
  </button> -->
  <button (click)="save()" mat-stroked-button color="primary" class="btn">save</button>
</div>
