<!-- <input type="text"  -->



<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
      <th>Action</th>
    </tr>

<ng-container >          
    <tr *ngFor="let j of billarray">
      <td >
        <select >
          <option *ngFor="let i of productarray">
            {{ i.n }}
          </option>
        </select>
      </td>
      <td>
        <input type="number" >
      </td>
      <td><input type="number" /></td>
      <td></td>
      <td >
        <button (click)="removebill(j)" mat-stroked-button color="primary">del</button>
      </td>
    </tr>
  </ng-container>
  </table>
</div>
<button (click)="addd()" mat-stroked-button color="primary">addrow</button>
<mat-form-field class="example-full-width">
  <mat-label>total</mat-label>
  <input [ngModel]="this.add" matInput />
</mat-form-field>
<button (click)="sum()" mat-stroked-button color="primary" class="btn">sum</button>


