<div class="outer-box">
  <button (click)="add()" mat-stroked-button color="primary" class="btn">
    Add
  </button>
  <table>
    <tr>
      <th>S.No</th>
      <th>Date</th>
      <th>Bill no</th>
      <th>Total</th>
      <th>Amt</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let product of productarray; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <input
          type="date"
          [ngModel]="date | date: 'yyyy-MM-dd'"
        />
      </td>
      <td>{{ i + 1 }}</td>
      <td></td>
      <td></td>
      <td>
        <button (click)="remove(product)" mat-stroked-button color="primary">
          Del
        </button>
      </td>
    </tr>
  </table>
</div>
