<div class="outer-box">
  <button (click)="add()" mat-stroked-button color="primary" class="btn">
    Add
  </button>
  <table>
    <tr>
      <th>S.No</th>
      <th>Date</th>
      <th>Bill no</th>
      <th>Total</th>
      <th>Amt</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td><input type="date"></td>
      <td >2</td>
      <td>3</td>
      <td>4</td>
      <td>
        <button (click)="remove()" mat-stroked-button color="primary">
          Del
        </button>
      </td>
    </tr>
  </table>
</div>
